/* line 1, ../sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: helvetica, arial, sans-serif;
}

/* line 2, ../sass/_base.scss */
.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 6, ../sass/_base.scss */
.p, .label {
  font-size: 14px;
}

/* line 7, ../sass/_base.scss */
.empty {
  background: #FDBCBC;
}

/* line 9, ../sass/_base.scss */
.widgetInputCont {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 15, ../sass/_base.scss */
.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* line 20, ../sass/_base.scss */
.label {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 24, ../sass/_base.scss */
.inputDomainName, .inputEmailAddress, .linkNavigation, .inputButtonText, .zindex {
  width: 57.62712%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 31, ../sass/_base.scss */
.inputDescription {
  display: block;
  clear: both;
  font-size: 11px;
  color: #999;
}

/* line 40, ../sass/_base.scss */
.gripLabel {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  font-size: 12px;
}

/* line 44, ../sass/_base.scss */
.inputGrip {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  *zoom: 1;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.inputGrip:after {
  content: "";
  display: table;
  clear: both;
}

/* line 57, ../sass/_base.scss */
.generateCodeButton {
  margin: 0 auto;
  width: 20%;
  display: block;
}

/* line 67, ../sass/_base.scss */
.previewWidgetCont {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
